:root {
    --primary-color: rgba(24, 45, 68, 0.9);
    --accent-color: rgb(255, 164, 36);
    --neutral-color: rgba(230, 230, 230, 0.95);
    --dark-text: rgba(70, 70, 70, 0.85);
    --shadow: rgba(0, 0, 0, 0.2);
    --padding: 15px;
    --margin: 10px;
    --radius: 20px;
}


.dark {
    background-color: var(--primary-color);
    color: var(--neutral-color);
}

body {
    background-color: var(--neutral-color);
    color: var(--dark-text);
}

