@import url('./colors.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.border{
    border: 1px solid rgb(var(--error-color));
}


img{
    /* padding:0.8vw; */
    border: none;
    box-shadow: 1px 1px 5px rgba(var(--shadow));
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}

.divider{
    display: block;
}