@import '../../styles/colors.css';
@import '../../styles/utilities.css';

.card {
    width: 93%;
    height: 60vh;
    max-width: 97%;
    max-height: 70vh;
    overflow: hidden;
    background: var(--gray-color);
    display: block;
    border-radius: 35px;
    position: relative;
    box-shadow: 2px 2px 5px var(--shadow);
}

.card-image {
    position: relative;
    width: 100%;
    height: 48vh;
}

.card-img-cov {
    position: absolute;
    width: 100%;
    height: 48vh;
    top: 0;
    background: var(--shadow);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    overflow: hidden;
}

.card-category {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 30px;
    margin-left: 6%;
    border: 4px solid var(--success-color);
    padding: 5px;
    border-radius: 35px;
    background: rgba(20, 20, 20, 0.7);
    text-align: center;
    justify-content: center;
    position: relative;
    top: 25%;
}

.card-title {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    height: auto;
    min-width: 30px;
    padding: 5px;
    margin-left: 6%;
    position: relative;
    top: 30%;
    border: 4px solid var(--success-color);
}

.card-head-light {
    color: var(--sec-black-text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 95%;
    width: 90%;
    height: 50px;
    border: 4px solid var(--success-color);
    position: relative;
    top: 55%;
    margin-left: 6%;
    padding: 5px;
}

.card-info {
    color: var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* max-width: 95%; */
    width: 100%;
    height: 12vh;
    border: 4px solid var(--success-color);
    position: relative;
    top: -4px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}