label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input {
    display: flex;
    width: 100%;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 45px 0 15px;
    font-size: 1rem;
    align-items: center;
}

.hideCheckbox {
    position: absolute;
    opacity: 0;
    width: 30px;
    height: 30px;
    right: 30px;
    transform: translateY(-110%);
    cursor: pointer;
}

.customCheckbox {
    position: absolute;
    right: 30px;
    transform: translateY(-110%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url(/Assets/view.gif);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    transition: transform 0.1s ease;
}

.hideCheckbox:checked + .customCheckbox {
    background-image: url(/Assets/sleep.gif);
}
