.main {
  width: 100%;
  height: auto;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.categories {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  background-color: var(--neutral-color);
  position: sticky;
  top: 0;
  z-index: 100;
  gap: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 2px 5px var(--shadow);
  border-radius: 0 0 10px 10px;
}

.categories a {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  padding: 7px 12px;
  border-radius: var(--radius);
  align-items: center;
  justify-content: center;
}

.categories a:hover {
  background-color: var(--primary-color);
  transition: 0.2s ease-in;
}

.news {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 30px 0 0 0;
}

.joinNews {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: var(--padding);
}

.title {
  color: var(--primary-color);
  text-align: left;
  margin: 20px 0;
}

.hidden {
  display: none;
  transition: 0.2s ease;
}
