@import '../../styles/colors.css';
@import '../../styles/utilities.css';

.card {
    width: 93%;
    height: 60vh;
    max-width: 97%;
    max-height: 70vh;
    overflow: hidden;
    background: var(--gray-color);
    display: block;
    border-radius: var(--radius);
    position: relative;
    box-shadow: 2px 2px 5px var(--shadow);
    margin: var(--margin) auto;
}

.card-image {
    position: relative;
    width: 100%;
    height: 40%;
}

.card-texts {
    padding: 0.5% 3%;
    display: block;
}

.card-category {
    color: var(--main-black-text);
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    font-size: .75rem;
    line-height: 1rem;
    padding: 5px;
    margin-bottom: var(--margin);
    border-radius: 5px;
    background: var(--gray-bg);
    text-align: center;
    justify-content: center;
    display: inline-block;
}

.card-title {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
    min-width: 30px;
    padding: 5px;
    margin-bottom: var(--margin);
    position: relative;
}

.card-head-light {
    color: var(--sec-black-text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: auto;
    position: relative;
    padding: 5px;
    margin-bottom: var(--margin);
}

.card-info {
    color: var(--sec-black-text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
}
