.form {
  width: 40vw;
  min-height: 60vh;
  border: 1px solid var(--neutral-color);
  border-radius: var(--radius);
  box-shadow: 0 2px 3px var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  background: var(--neutral-color);
  backdrop-filter: blur(10px);
  color: var(--dark-text);
}

.form div {
  display: block;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.passwordContainer {
  position: relative;
}

.pwd {
  padding-right: 50px;
}

.hideCheckbox {
  position: absolute;
  opacity: 0;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.customCheckbox {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url(/Assets/view.gif);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  transition: transform 0.2s ease;
}

.hideCheckbox:checked + .customCheckbox {
  background-image: url(/Assets/sleep.gif);
}

.rememberMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: flex-start;
}

.rememberMe label {
  font-weight: normal;
  margin: 0;
}

input[type="submit"] {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--neutral-color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="submit"]:hover {
  background-color: var(--primary-color);
  transform: translateY(-2px);
}

button {
  background-color: var(--accent-color);
  color: var(--neutral-color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
}

button:hover {
  background-color: var(--primary-color);
  transform: translateY(-2px);
}

.switch {
  display: flex;
  align-items: center;
  gap: 8px;
}

.switch p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--dark-text);
}
