.passwordContainer {
  position: relative;
}

.pwd {
  padding-right: 50px;
}

.hideCheckbox {
  position: absolute;
  opacity: 0;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.customCheckbox {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url(/Assets/view.gif);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  transition: transform 0.2s ease;
}

.hideCheckbox:checked + .customCheckbox {
  background-image: url(/Assets/sleep.gif);
}
