@import '../../styles/colors.css';
@import '../../styles/utilities.css';

.categories {
    display: flex;
    justify-content: space-around;
    background-color: black;
    overflow-x: auto;
    overflow-y: hidden;
    height: 30px;
    align-items: center;
}

.category-btn {
    background-color: var(--error);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    height: 20px;
    
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button:hover {
    background-color: var(--color-primary-dark);
}
